<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none",
    showMathMenu: false,
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    tex2jax: {
      inlineMath: [['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    },
    extensions: ["Safe.js"]
  });
  MathJax.Hub.Register.StartupHook("End", function () {
    document.dispatchEvent(new CustomEvent('blog:mathready'));
  });
</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
